<div local-class="HoverOver {{if this.collapsed 'Collapsed'}} {{if this.active 'Active'}}">
    <div local-class="Icon">
        {{fa-icon this.icon fixedWidth=true}}
    </div>

    <div local-class="Label">
        <strong>{{this.label}}</strong>
    </div>
</div>
