<nav role="navigation" class="{{this.media.classNames}}" local-class="Nav {{if this.dark 'Dark' 'Light'}}">
    {{yield (hash
        icon=(component 'fa-icon' fixedWidth=true class=(local-class 'Icon'))
        divider=(component 'x-dummy' class=(local-class 'Item Divider'))
        section=(component 'x-dummy' class=(local-class 'Section'))
        item=(component 'x-dummy' class=(local-class 'Item'))
        button=(component 'x-dummy' role='button' class=(local-class 'Item Button'))
        link=(component 'x-dummy' tagName='a' class=(local-class 'Item Button'))
    )}}
</nav>
