<div id={{this.guid}} local-class="Title {{if this.collapsed 'Collapsed'}}">

    <h1>Title Place Holder</h1>
    {{#if this.collapsed}}
        COLLAPSED
    {{else}}
        NOT COLLAPSED
    {{/if}}

</div>

